
:root {
	--bg: #fdf1dc;
	--bg-dark: #dac7a6;
	--bg-light: #fffaf1;
	--bg-shade: #fffefd;
	--bg-haze: white;

	--accent-dark: #3c1710;
	--accent: #7a200d;
	--accent-light: #d9b6a2;
	--accent-shade: #903523;
	--accent-haze: #ba8672;
	--accent-screen: rgba(122, 32, 12, 0.7);

	--error: red;

	--fg: black;
	--fg-light: var(--bg);
	--fg-dark: var(--accent);

	--desc-dark: #0B3B4D;
	--desc: #1E5266;
	--desc-light: #386B7E;
	--desc-shade: #8DAEBB;

	--red-dark: #7A200D;
	--red: #A2402B;
	--red-light: #C86854;
	--red-shade: #FFC8BD;

	--orange-dark: #7A460D;
	--orange: #A2692B;
	--orange-light: #C89154;
	--orange-shade: #FFDFBD;

	--yellow-dark: #7A5f0D;
	--yellow: #A2842B;
	--yellow-light: #C8AB54;
	--yellow-shade: #FFF3BD;

	--green-dark: #2B4C00;
	--green: #446F0C;
	--green-light: #659428;
	--green-shade: #98CDAC;

	--blue-dark: #0B3B4D;
	--blue: #1E5266;
	--blue-light: #386B7E;
	--blue-shade: #8DAEBB;

	--purple-dark: #680B32;
	--purple: #8A254F;
	--purple-light: #AB4872;
	--purple-shade: #E4A9C2;

	--grey-dark: #3A3A3A;
	--grey: #585858;
	--grey-light: #7A7A7A;
	--grey-shade: #DEDEDE;
}