
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Almendra+SC|Eagle+Lake|Libre+Baskerville|Noto+Sans|Stoke|Ubuntu+Mono');

:root {
	--title-font: "Stoke", "Constantia", serif;
	--serif-font: "Libre Baskerville", serif;
	--sans-font: "Noto Sans", "Calibri", sans-serif;
	--code-font: "Ubuntu Mono", monospace;
	--note-font: "PT Serif", serif;
}