
html {
	height: 100%;
}

body {
	background-color: var(--bg-dark);
	color: var(--fg);
	display: flex;
	flex-direction: column;
	font-family: var(--sans-font);
	height: 100%;
	margin: 0;
}

body .fr { float: right; }
body .fl { float: left; }
body .clearer { clear: both; }

body .screen {
	background-color: var(--accent-screen);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

body .error {
	color: var(--error);
	display: none;
	font-family: var(--code-font);
	margin-top: 0.5em;
	text-align: center;
}

body .nodisp {
	display: none !important;
}


body #main {
	background-color: var(--bg);
	box-sizing: border-box;
	width: 8.5in;
	margin: 1em auto;
	/*background-image: url("../res/backgrounds/imperial_city.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	box-shadow: inset 0 0 10px #000000;
	background-color: black;
	min-height: calc(100% - 2em);
	overflow-x: hidden;*/
	padding: 1em;
}
/*body::-webkit-scrollbar {
	display: none;
}*/

body #main #title {
	color: var(--accent);
	font-family: var(--title-font);
	font-size: 300%;
	font-variant: small-caps;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: center;
}

body #main div.header {
	text-indent: 0;
	margin: 0 0 1em 0;
}

body #main p {
	margin-bottom: 1em;
	margin-top: 0;
	text-indent: 0em;
}

body #main p.reverse_indent {
	margin-left: 1em;
	text-indent: -1em;
}

body #main a {
	color: var(--accent);
	font-style: italic;
	text-decoration: underline;
}
body #main h1 a {
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}
body #main h2 a {
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}
body #main h3 a {
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}
body #main h4 a {
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}
body #main h5 a {
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}
body #main h6 a {
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}

body #main a.anchor {
	color: var(--accent);
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}
body #main h1 a.anchor {
	color: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}
body #main h2 a.anchor {
	color: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}
body #main h3 a.anchor {
	color: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}
body #main h4 a.anchor {
	color: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}
body #main h5 a.anchor {
	color: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}
body #main h6 a.anchor {
	color: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}

body #main em {
	font-style: italic;
}

body #main strong {
	font-weight: bold;
	text-decoration: none;
}

body #main u {
	text-decoration: underline;
}

body #main code {
	color: var(--purple);
	font-family: var(--code-font);
}

body #main blockquote {
	color: var(--desc-light);
	font-style: italic;
	margin: 0 2em 1em 2em;
}

body #main h1 {
	border-bottom: 0.1em solid var(--accent);
	border-top: 0.1em solid var(--accent);
	color: var(--accent);
	font-family: var(--serif-font);
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

body #main h2 {
	border-bottom: 0.2em double var(--accent);
	color: var(--accent);
	font-family: var(--serif-font);
	font-size: 150%;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0.7em;
	margin-top: 0;
	text-decoration: none;
}

body #main h3 {
	border-bottom: 0.1em solid var(--accent);
	color: var(--accent);
	font-family: var(--serif-font);
	font-size: 110%;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 0;
	text-decoration: none;
}

body #main h4 {
	border-bottom: 0.1em dashed var(--accent);
	color: var(--accent);
	font-family: var(--serif-font);
	font-size: 110%;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 0;
	text-decoration: none;
}

body #main h5 {
	border-bottom: 0.1em dashed var(--fg);
	color: var(--fg);
	font-family: var(--serif-font);
	font-size: 100%;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 1em;
	margin-top: 0;
	text-decoration: none;
}

body #main h6 {
	border-bottom: 0.1em dotted var(--fg);
	color: var(--fg);
	font-family: var(--serif-font);
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 1em;
	margin-top: 0;
}

body #main .img_holder {
	margin-bottom: 1em;
	padding: 0;
	width: 100%;
}

body #main .img_holder img {
	border: 0.2em solid var(--accent);
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 50em;
}
body #main .img_holder.borderless img {
	border-style: none;
}

body #main .img_holder .caption {
	font-family: var(--note-font);
	font-style: italic;
	margin: 0;
	margin-top: 0.2em;
	text-align: center;
	width: 100%;
}

body #main ul {
	list-style-type: disc;
	padding-inline-start: 1.5em;
	margin: 0 0 1em 0;
}
body #main p ~ ul {
	margin-top: -1em;
}
body #main ul ul {
	list-style-type: circle;
	margin-top: 0.1em;
	margin-bottom: 0;
}
body #main ul ul ul {
	list-style-type: square;
}
body #main ul ul ul ul {
	list-style-type: circle;
}
body #main ul ul ul ul ul {
	list-style-type: disc;
}
body #main ul ul ul ul ul ul {
	list-style-type: circle;
}
body #main ul ul ul ul ul ul {
	list-style-type: square;
}

body #main ol {
	padding-inline-start: 1.5em;
	margin: 0 0 1em 0;
}
body #main p ~ ol {
	margin-top: -1em;
}
body #main ol ol {
	list-style-type: lower-alpha;
	margin-top: 0.1em;
	margin-bottom: 0;
}
body #main ol ol ol {
	list-style-type: lower-roman;
}
body #main ol ol ol ol {
	list-style-type: upper-alpha;
}
body #main ol ol ol ol ol {
	list-style-type: upper-roman;
}
body #main ol ol ol ol ol ol {
	list-style-type: decimal;
}

body #main table {
	border: 0.1em solid var(--green);
	border-collapse: collapse;
	margin: 0 0 1em 0;
}

body #main td {
	background-color: var(--bg-shade);
	border: 0.1em solid var(--green);
	padding: 0.2em 0.5em;
}

body #main th {
	background-color: var(--green);
	border: 0.1em solid var(--green);
	color: var(--bg);
	font-family: var(--serif-font);
	font-size: 100%;
	font-variant: small-caps;
	letter-spacing: 0.06em;
	padding: 0.2em 0.5em;
}

body #main .reward {
	color: var(--green);
}