
body #main .statblock_holder .statblock_holder_heading {
	border-bottom: 0.1em solid var(--accent);
	border-top: 0.1em solid var(--accent);
	color: var(--accent);
	font-family: var(--serif-font);
	font-size: 150%;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0.7em;
	padding: 0.2em 0;
	text-align: center;
}

body #main .statblock_holder {
	border-bottom: 0.2em solid var(--accent);
	margin-bottom: 1em;
}

body #main .statblock_holder.notitle {
	border-bottom: none;
	margin-bottom: 0;
}

body #main .statblock {
	margin-bottom: 1em;
	width: calc(50% - 2em);
}

body #main .statblock .statblock_header {
	border-bottom: 0.2em solid var(--accent);
}

body #main .statblock .statblock_header h1 {
	border: none;
	font-size: 100%;
	margin-bottom: 0;
	max-width: calc(60% - 1em);
	text-transform: uppercase;
}

body #main .statblock .statblock_header h2 {
	border: none;
	font-size: 100%;
	margin-bottom: 0;
	max-width: calc(40% - 1em);
	text-transform: uppercase;
}

body #main .statblock p {
	font-size: 80%;
	margin-bottom: 0.2em;
}

body #main .statblock ul {
	margin-top: 0;
	margin-bottom: 0.2em;
}

body #main .statblock ol {
	margin-top: 0;
	margin-bottom: 0.2em;
}

body #main .statblock .statblock_tags .statblock_tag {
	background: var(--accent);
	border: 0.2em solid var(--bg-dark);
	color: var(--bg-light);
	display: inline-block;
	font-size: 80%;
	margin: 0.1em 0.05em;
	padding: 0.2em 0.4em;
	text-transform: uppercase;
}

body #main .statblock .statblock_tags .statblock_tag:first-child {
	margin-left: 0;
}

body #main .statblock .statblock_tags .statblock_tag:last-child {
	margin-right: 0;
}

body #main .statblock .statblock_tags .statblock_tag.rarity {
	background-color: var(--orange);
}

body #main .statblock .statblock_tags .statblock_tag.alignment {
	background-color: var(--blue);
}

body #main .statblock .statblock_tags .statblock_tag.size {
	background-color: var(--green);
}

body #main .statblock .statblock_tags .statblock_tag.type {
	background-color: var(--purple);
}

body #main .statblock .statblock_tags .statblock_tag.trait {
	background-color: var(--red);
}

body #main .statblock.npc .statblock_npc_background {
	border-bottom: 0.1em solid var(--accent);
}

body #main .statblock.npc .statblock_npc_offturns {
	border-bottom: 0.1em solid var(--accent);
}

body #main .statblock .statblock_section {
	border-bottom: 0.1em solid var(--accent);
}

body #main .statblock .statblock_section:last-child {
	border-bottom: 0;
}

body #main .encounter {
	color: var(--red);
	font-style: italic;
}

body #main .encounter a {
	color: var(--red);
	font-style: italic;
}