
body #main .index h1 {
	/*background-color: var(--accent-light);*/
	/*border: 0.15em solid var(--accent);*/
	border: none;
	border-bottom: 0.05em solid var(--accent);
	box-sizing: border-box;
	color: var(--accent);
	font-family: var(--serif-font);
	font-size: 180%;
	font-weight: bold;
	padding: 0.3em 0.5em;
	text-align: left;
}

body #main .index {
	border-top: 0.2em solid var(--accent);
	border-bottom: 0.2em solid var(--accent);
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
	padding-bottom: 0.5em;
}
body #main .index ol {
	list-style-type: none;
	margin-bottom: 0;
	padding: 0;
}
body #main .index a {
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}

body #main .index li {
	color: var(--accent);
	font-size: 150%;
	font-weight: bold;
	margin-left: 0.5em;
}
body #main .index li a:hover {
	text-decoration: underline;
}
body #main .index li ol {
	margin-bottom: 0.2em;
	margin-left: 0.5em;
}
body #main .index li li {
	font-size: 80%;
	font-weight: normal;
}
body #main .index li li li {
	font-size: 85%;
	font-weight: normal;
}
body #main .index li li li li {
	color: var(--fg);
	font-size: 100%;
	font-weight: normal;
}